[2019-01-17 13:25] gudvinga opened #2 "Add query into location"
Hello.
Can you update your locationFromUrl function. It would be very good to have an object with query parameters in redux store.
For example:
[code]

[2019-01-17 13:35] danielr18 commented on #2
I agree with this opinion: https://github.com/ReactTraining/react-router/issues/4410#issuecomment-276400992.

Not sure how you plan to use the object, but perhaps you could have the search parsing logic in a selector, and use it when you need to access the object.

[2019-01-17 13:41] gudvinga commented on #2
Thank you.

[2019-01-17 13:41] #2 closed

[2019-01-18 11:23] tastafur opened #3 "add PREFETCH"
Hello,

Thank you for your contribution to the community @danielr18 .

i have seen that the router.prefetch method missing and it could be fine to put it

Thank you.

Regards

[2019-01-18 12:10] danielr18 commented on #3
Released in 0.0.5

[2019-01-18 12:10] #3 closed

[2019-01-18 13:10] tastafur opened #6 "Question"
Hello @danielr18 ,

Some example of how to use this that does not work for me from your PUSH

[code]
Thank you.

Regards.

P.D: Thank you for implement the prefeching

[2019-01-18 13:32] danielr18 commented on #6
I'm failing to recreate this issue. Here's what I tried:

- `props.push('/about?fizz=buzz', undefined, { shallow: true })`
- `props.push('/about?fizz=buzz', '/about?fizz=buzz',, { shallow: true })`
- `props.push({ pathname: '/about', query: { fizz: 'buzz' } }, undefined, { shallow: true })`

Where `props.push` is the `push` action creator wrapped by Redux's `dispatch`.

[2019-01-18 13:33] danielr18 commented on #6
From Next.js documentation:

[2019-01-24 13:03] RomanFrom710 opened #7 "next-routes support"
Readme.md says about [next-routes](https://github.com/fridays/next-routes) support, but it doesn't work out of the box and there's no docs about it.

After digging into `connected-next-router` sources I found that you need to
[code]
to get it work properly with `next-routes` router. I'm not sure it can handle all kinds of arguments that these methods should handle, but at least it works with url s

[2019-01-24 13:09] danielr18 commented on #7
Yes, that's how it's supposed to be used, and I agree, it should be documented. Will do it soon.

[2019-01-27 18:02] andrewmartin opened #8 "Context `store` not defined with basic setup"
Hi, I'm hitting a fairly strange issue. I've tried looking through the source to figure out why this is happening, but I'm hitting this error:

```Warning: Failed context type: The context `store` is marked as required in `WithConnectedRouter`, but its value is `undefined`.
    in WithConnectedRouter (created by Application)
    in Provider (created by Application)
    in Container (created by App

[2019-01-27 18:07] danielr18 commented on #8
Are you using redux 6?

[2019-01-27 18:58] andrewmartin commented on #8
Yes sir I am

[2019-01-27 20:03] andrewmartin commented on #8
Does this not work with that version of redux?

[2019-01-27 20:05] danielr18 commented on #8
Not yet, only up to Redux 5. I'm planning to release a version with Redux 6 support next week, but PRs are welcome, we basically just need to use the new context API to access the Redux store.

[2019-02-05 13:01] VinceBT opened #9 "Store not up-to-date in a new tab on a specific route"
If I go from `/` to `/example` I can see the event triggered on the redux console and the store is changed, but if I open a new tab with `/example` directly, the store shows `/`as pathname

[2019-02-05 13:07] danielr18 commented on #9
Are you using the `initialRouterState` helper?

https://github.com/danielr18/connected-next-router/blob/e2052ebe7e292fa5c951c7092584748dc3e8a9bd/examples/basic/store/configure-store.js#L20

[2019-02-05 13:33] danielr18 commented on #9
Would you mind sharing a minimal reproduction so that I can help further?

It seems to work fine in the example in the repo:
![image](https://user-images.githubusercontent.com/9046616/52276631-7683db80-2931-11e9-962c-8b2728922253.png)

[2019-02-05 13:41] VinceBT commented on #9
Redux devtools and address bar
![image](https://user-images.githubusercontent.com/1362505/52276895-ab088f00-2953-11e9-8d39-b9d37571269b.png)
Complete redux setup file
[code]
Usage of `ConnectedRouter`
![image](https://user-images.githubusercontent.com/1362505/52276984-e1460e80-2953-11e9-9515-de15b947e824.png)

[2019-02-05 13:47] VinceBT commented on #9
I get this when logging as following:
`console.log('isServer', options.isServer, ', path:', options.asPath, ', routerState: ', initialState.router)`
![image](https://user-images.githubusercontent.com/1362505/52277410-f5d6d680-2954-11e9-8288-2ed4f3f26809.png)

[2019-02-05 13:58] danielr18 commented on #9
Alright, I'm able to recreate this by installing `next-redux-wrapper: 3.0.0-alpha.0`.

I'm working now on a fix.

FYI: A minimal reproduction is code that I can run on my side to get the same output, e.g. a simple example showing the issue with https://codesandbox.io/

[2019-02-05 14:04] VinceBT commented on #9
Thank you @danielr18
Sorry for not making a reproduction, I am not very used to it.

[2019-02-05 14:10] VinceBT commented on #9
Here is my temporary workaround
![image](https://user-images.githubusercontent.com/1362505/52278769-1c4a4100-2958-11e9-851c-88d0e6d1a353.png)

[2019-02-05 15:03] danielr18 commented on #9
I recommend creating a shallow copy of the initial state meanwhile:

[code]

It was bit hard to debug, but the issue is that after v2.0.0, they recreate the store in the server and client (see https://github.com/zeit/next.js/pull/4295#pullrequestreview-118516366) but if you mutate the initialState in the server, which happens when store is recreated but this time outside `getInitialProps`, so ther

[2019-02-05 15:14] danielr18 commented on #9
Actually, I think it's better to not rely on `isServer`. We really only want to set the initial state if we are in `getInitialProps`, and `asPath` is only defined when `configureStore` is called from `getInitialProps`, so this code is better.

[code]

[2019-02-05 15:17] VinceBT commented on #9
Your workaround from https://github.com/danielr18/connected-next-router/issues/9#issuecomment-460670282 made that there was a state flicker during the render but the one from https://github.com/danielr18/connected-next-router/issues/9#issuecomment-460674472 seems to fix the problem for now

[2019-02-05 15:20] danielr18 commented on #9
Yes, first example was wrong as it leads to server and client rendering with different redux states, I've deleted it to avoid confusing other people.

I'm going to replace the code in the example, and close this issue.

[2019-02-05 15:22] #9 closed

[2019-02-05 19:47] danielr18 commented on #8
Yes! v1.0.0 has been released.

[2019-02-05 20:00] #8 closed

[2019-02-05 20:01] #7 closed

[2019-02-05 20:01] danielr18 commented on #6
Closed due to inactivity.

[2019-02-05 20:01] #6 closed

[2019-02-12 16:26] tastafur opened #14 "Question about the route stack or the previous route?"
Hello,

My question is if we can know in any way which was the route from which it came or the stack or stack of routes.

Regards

[2019-02-12 16:37] danielr18 commented on #14
Depends on where you want to do that. If you use `withRouter` HOC of Next.js, then you could compare the prevProps.pathname with current one, or something.

If you want to keep a stack of routes in Redux, you might want to create a reducer that adds the router state for each LOCATION_CHANGE action that is dispatched in a list.

https://github.com/danielr18/connected-next-router/blob/f96cf21896988a

[2019-02-12 16:38] danielr18 commented on #14
What's your use case?

[2019-02-12 16:51] tastafur commented on #14
My case is that I have an authentication HOC that contains the page, the authentication launches a saga of redux and in the saga I want to know which is the previous URL to know where I come from and I see in the saga that is still loading the state the previous route. Is this correct?
With this operation I can do what I need but I ask better if the operation is correct
<img width="1435" alt="capt

[2019-02-12 17:00] danielr18 commented on #14
Can you explain the flow better?

Is it possible you send the previous URL in the action that runs the saga? And what do you want to do with the previous URL, go back or something?

[2019-02-12 17:02] tastafur commented on #14
To this saga I am passing by arguments the pathname of getInitialProps and since it has been rendered it is already in products but the state of the router still shows the previous state

[2019-03-03 22:31] Grzesie2k opened #15 "Error in exported app: _rewriteUrlForNextExport is not a function"

[2019-03-04 00:43] danielr18 commented on #15
Closed with #17.

Release 0.0.6 for react-redux 5 and 1.0.1 for react-redux 6 on npm.

[2019-03-04 00:43] #15 closed

[2019-03-06 09:29] stephane-r opened #18 "Using in reducer"
Hello Daniel !

Is it possible to use your module from reducer switch ? For example :

[code]

Thank you :muscle:

[2019-03-06 12:32] danielr18 commented on #18
It should be possible, you could dispatch a navigation action in the middleware.

You might find this useful: https://stackoverflow.com/questions/51186205/how-to-dispatch-actions-from-redux-middleware-in-correct-order

[2019-06-12 15:15] christianrank opened #19 "Using the browser back button throws a TypeError"
When using the browser back button, routing still works, but it throws an error:

[code]

It relates to the line where `_unpatchedBeforePopStateCallback` is called in `patchRouter.js`, which is not defined.

I did some research and found out that `_beforePopState` is not there anymore in Next.js:
https://github.com/zeit/next.js/commit/83334f11108fdb23246a2d5b95d20fb50697ce92#diff-a33404ba5698b3b45

[2019-06-12 15:27] danielr18 commented on #19
Can you try with this line `Router.router._unpatchedBeforePopStateCallback = Router.router._bps || Router.router._beforePopState`?

[2019-06-12 16:39] #19 closed

[2019-06-12 16:44] danielr18 commented on #19
I just released 1.0.2, can you let me know if it's working as expected for you?

[2019-06-12 16:53] danielr18 commented on #18
Closed due to inactivity.

[2019-06-12 16:53] #18 closed

[2019-06-12 18:48] christianrank commented on #19
Wow, that was fast.

It fixes our issue. Thanks 🎉

[2019-06-26 14:03] pavel06081991 opened #21 "push method reloads page"
I'm using push method to change url query params. There are two issues I see:
1. I want to update only query params, so I only pass query without pathname. But application crashes.
2. When I pass query and pathname(the current page url) it works, but page is fully reloaded from the server with new url params. How to avoid page reloading? I just changed query params, why is it reloading?

[2019-06-26 15:38] danielr18 commented on #21
Hello,

1 - Not sure if this is supported by Next.js Router, I think it's required to pass an URL, and if you are using an URL object, that would mean the pathname.

2 - I can't recreate this in the basic example, is it possible for you to create a minimal reproduction I can check?

[2019-07-01 12:51] pavel06081991 commented on #21
@danielr18 sorry now I've read more about next js router and how it works. The described issues are not issues. But I found another issue.  When I use push method with shallow: true param like this:
[code]

then url in browser is updated with new query params but in redux state related to router there are no changes.

[2019-07-07 14:42] haf opened #22 "TypeScript signatures"
It would help consuming this library if there were typescript signatures available as part of the package.

[2019-07-07 14:46] danielr18 commented on #22
I don't have much experience with typescript, will look into it. If anyone can help with a PR however, that would be nice.

[2019-07-07 14:50] haf commented on #22
@danielr18 Thank you. I don't have much experience with publishing node modules with typescript either, but I think the easiest way to add them, is to start adding them inline in the code, like described here https://www.typescriptlang.org/docs/handbook/migrating-from-javascript.html

[2019-07-10 14:00] haf commented on #22
https://github.com/haf/connected-next-router/tree/typescript

Compiles and should be ready to publish; but since there are no tests in your repository nor any examples, I'm not that confident everything works.

[2019-07-10 14:16] danielr18 commented on #22
Thank you! I'll be checking this out today

[2019-07-10 14:26] danielr18 commented on #22
By the way, given that as you mentioned, it's not based on the existing history, it would be hard to make a PR, I can make the PR based on your fork, but you wouldn't show up as a [contributor](https://github.com/danielr18/connected-next-router/graphs/contributors). Is that important for you?

[2019-07-10 14:42] #14 closed

[2019-07-10 14:50] haf commented on #22
Not important at all. Add my name to the list of authors if you want.

I think this one should work when published, but I can't make npm run 'prepare' when referencing from git.

[2019-07-10 14:56] haf commented on #22
Example for current branch:

[code]

[2019-07-10 14:58] danielr18 commented on #21
Can you create a minimal reproduction in codesandbox or a repository?

And yes, it's a mistake that 0.0.7 is marked as latest, it's because that's the last version that was published, v0 is for Redux v5 and v1 is for Redux v6 and v7.

[2019-07-11 12:28] haf commented on #22
Did it go well?

[2019-07-12 20:44] mmiszy opened #23 "Compatibility with react-redux@7 and next@9"
Hi! Is this package compatible with react-redux@7 and next@9? Thank you :)

[2019-07-12 20:46] danielr18 commented on #23
Yes, I'll be releasing a new version to fix the peer dependency warnings very soon.

[2019-07-15 06:20] danielr18 commented on #22
I just published version: 2.0.0-alpha.1, check the [typescript branch](https://github.com/danielr18/connected-next-router/tree/typescript) for a copy of the basic example using typescript.

It has a couple of breaking changes that still need to be documented, like supporting only Next.js 9 and react 16.8.0. Let me know if the alpha version works well in your project, any feedback is welcome!

[2019-07-23 16:55] haf commented on #22
Did you get around to typing the actions? I was planning on testing your branch tomorrow.

[2019-07-23 18:36] yantsishko opened #25 "Support Immutable js"
I have fork with Immutable.js support, you can use it.

https://github.com/yantsishko/connected-next-router

[2019-07-25 21:48] adonig commented on #23
Does react-redux@7 with next@9 really work? I followed the instructions in the README and get

[code]

[2019-07-26 01:20] danielr18 commented on #23
@adonig Are you using version 1? If version 1 isn't working, I'm sure `2.0.0-alpha.1` will, but I haven't documented that version yet.

[2019-07-26 06:56] shkarupa-alex commented on #23
Same error and i don't see version 2.0.0-alpha.1 anywhere

[2019-07-26 08:27] mmiszy commented on #23
@shkarupa-alex https://www.npmjs.com/package/connected-next-router/v/2.0.0-alpha.1

[2019-07-26 16:09] getorca commented on #23
even with v2.0.0-alpha.1 I'm getting the Warning

```Warning: Failed context type: The context `store` is marked as required in `Component`, but its value is `undefined`.
    in WithConnectedRouter (at _app.js:51)
    in Context.Provider
    in Provider (at _app.js:50)
    in Container (at _app.js:49)
    in MyApp
    in ConnectFunction
    in ConnectFunction
    in withRedux(Connect(MyApp))
    i

[2019-07-26 16:15] danielr18 commented on #23
I would need a minimal repro to check that, I don't get that warning in the example: https://github.com/danielr18/connected-next-router/tree/typescript/examples/basic

[2019-07-26 16:21] danielr18 commented on #23
Example is also working with v1 of this library, Next.js 9 and react-redux 7, it's just that it has peer dependencies warnings. Do you have any chance of creating a repo where I can take a look or codesandbox?

[2019-07-26 16:23] danielr18 commented on #23
However, `WithConnectedRouter` is only in v0 of the library, so you might not be using `v2.0.0-alpha.1`.

[2019-07-26 16:30] danielr18 commented on #23
I've updated the `latest` tag in npm to point to 1.0.2, so if you are using react-redux 6 or 7, you can just `npm i connected-next-router`.

[2019-07-26 19:24] adonig commented on #23
@danielr18 Version 1.0.2 works. Thank you 😊🙏

[2019-07-30 19:43] haf opened #26 "isValidElementType is not a function"
<img width="726" alt="Screenshot 2019-07-30 at 21 43 12" src="https://user-images.githubusercontent.com/193115/62159909-133c9a00-b313-11e9-8c55-c5647ff96846.png">

Connected to routing, but probably not in this library, because it may be a nextjs difference of package versions/mixup that causes this. https://github.com/developit/preact-redux/issues/43 Feel free to close.

[2019-07-30 19:48] danielr18 commented on #26
You are probably right, I only use Next.js router functions in the beforePopState callback.

[code]

[2019-07-30 19:48] #26 closed

[2019-08-11 17:06] haf opened #27 "Redirects to / on refresh"
If you apply connected-next-router - client-side only —

[code]

- and you always add the above component to your tree - and then go to an arbitrary non-root page and refresh the browser - then connected-next-router will navigate the browser to `/` and then back to e.g. `/blog`. :( NOT always, however; only once in a while. Here's a screenshot of the bug in action;

<img width="912" alt="image" sr

[2019-09-05 08:13] vincegio commented on #27
Getting this too, did you manage to solve this issue?

[2019-09-05 19:48] haf commented on #27
Yes, it's a race condition between the polling/fetching of the current state as performed by this module and the change of the location; I completely dropped this project and am now using the `req` and `ctx` values from nextjs and the window.location to get the location, rather than this project.

[2019-09-06 07:31] vincegio commented on #27
Yeah I ended up doing the same, _query_ and _asPath_ are the ones I use the most.

[2019-09-06 08:48] danielr18 commented on #27
I've been trying to recreate, but I can't even get the app to work with something like this:

[code]

Stuck at home page every time I try to nagivate.

@haf Would this issue be avoided if url is passed to initialRouterState in the stub? Otherwise it will be '/' by default.

[2019-09-06 09:25] haf commented on #27
@danielr18 Yes, potentially. The trick is probably to be very sure to synchronise the state between window.location, next and redux very closely, and if you know what path you're at, it's best to use it (and you do know server-side what path you're at when you create the store)

[2019-10-31 00:25] danielr18 commented on #21
Closed due to inactivity

[2019-10-31 00:25] #21 closed

[2019-12-19 20:52] nitindhar7 commented on #22
Any updates on this?

[2019-12-19 21:10] danielr18 commented on #22
@nitindhar7 I haven't released v2.0.0 yet which has TypeScript signatures, but the latest version in NPM is the release candidate (2.0.0-alpha.3). I suggest you try that and comment here if it's working well for your use case.

[2019-12-26 13:31] internationalhouseofdonald opened #33 "Why not just use Router.push?"
This might be a silly question, but I installed this package from npm without realizing that I can just use  `import Router from 'next/router'` and `Router.push('/home')` to switch routes from inside an action. So, what is the point of this package?

😂

[2019-12-26 13:45] danielr18 commented on #33
Not a silly question, I created this package when I was migrating an app using `react-router-redux` to Next.js which relied on the router state being in Redux. The library has actions for navigating in order to keep a similar API to `connected-react-router` or `react-router-redux`, see https://github.com/reactjs/react-router-redux#what-if-i-want-to-issue-navigation-events-via-redux-actions, and al

[2019-12-27 02:27] #33 closed

[2020-04-08 02:59] dbrrt opened #41 "Integration in Saga"
Hello,

Is it possible to use this library in Redux Saga, if so how?

Thanks in advance.

[2020-04-08 03:02] danielr18 commented on #41
@dbrrt Hello, it's possible to use it.

It depends on what you want to do, you can dispatch Router methods from your sagas, or read the location state from the store.

Let me know if I can help you further

[2020-04-08 03:08] dbrrt commented on #41
@danielr18 Thanks for the quick reply, I've tried to wrap my main App with `<Provider>` and `<ConnectedRouter>`, but it had no effect when calling actions from the library. I'm using hooks in my functional components can it be an anti-pattern with your library?

[2020-04-08 03:20] danielr18 commented on #41
Are you using the redux middleware?

Here's v2 example: https://github.com/danielr18/connected-next-router/tree/v2/examples/basic

[2020-04-08 03:32] dbrrt commented on #41
Yes, but probably misconfigured. Will try again. Thanks for the link!

[2020-04-08 06:10] danielr18 commented on #41
Are you dispatching a navigation action on the server side?

[2020-04-08 11:42] dbrrt commented on #41
That was the issue, performing the dispatch on the client side only resolved the issue

[2020-04-08 14:17] joaovieira commented on #27
I think I'm bumping into something similar.

I've noticed Next.js doesn't necessarily call `routeChangeComplete` before another `routeChangeStart`. This means you can have two ongoing routes changes at the same time. Given this package only uses a single boolean for `isTimeTravelEnabled`, it can get caught into a race condition. E.g.

1. Current href: `/a`;
2. User navigates to url `/b`. That trig

[2020-04-08 21:52] dbrrt commented on #41
Thanks a lot @danielr18, this issue can be closed, I can try to make a PR with an example for Saga once I've got a moment.

[2020-04-08 22:03] danielr18 commented on #41
@dbrrt That would be great, thanks!

[2020-04-08 22:03] #41 closed

[2020-05-24 18:39] danielr18 commented on #27
@joaovieira The fix has been released on v3

[2020-05-24 18:39] #27 closed

[2020-05-24 18:47] danielr18 commented on #22
Released on v3

[2020-05-24 18:47] #22 closed

[2020-06-24 05:22] abbakumov opened #47 "Doesn't support NextJS 9.0.5"
Hey! I'm trying to apply your library for Next 9.0.5 and i get the error:
[code]

That's because you're importing `rewriteUrlForNextExport` [over there](https://github.com/danielr18/connected-next-router/blob/master/src/patchRouter.ts#L7), but NextJS 9.0.5 doesn't exports it.

Updating to next@9.4.4 solves the problem.
Maybe you'll add some info about that or more readable error?

[2020-06-24 05:47] danielr18 commented on #47
Hi @abbakumov, thanks for reporting this. I'll release the fix in v3.0.2.

[2020-06-24 05:48] #47 closed

[2020-07-10 20:55] kylemh opened #49 "Example without `next-redux-wrapper`"
I am using Next.js to create a SPA and wont be leveraging any Next.js lifecycle methods, meaning I don't have to maintain server/client store parity. I would just do it anyways, but [`next-redux-wrapper`](https://github.com/kirill-konshin/next-redux-wrapper/#usage-with-redux-saga) opts the application out of automatic static exports.

I also commented [here](https://github.com/kirill-konshin/next-

[2020-07-10 22:50] danielr18 commented on #49
I think the most simple implementation would be something like this:

[code]

[2020-07-10 23:02] #49 closed

[2020-08-12 19:03] kylemh commented on #49
Hey @danielr18 still working in this area as I've run into a strange issue. If I've got a separation in my store initializer around if window is defined or not (if it's CSR or not), would I want to run:

[code]

for both cases?

[2020-08-12 19:07] danielr18 commented on #49
@kylemh Probably, you would want to have the same initial state in the server and client to prevent hydrate mismatches.

What's the issue you are seeing?

[2020-08-20 14:30] hacktisch opened #52 "Requests with query parameters are being redirected to /"
There is a bit of code in ConnectedRouter.js that checks for "locationMismatch" on store changes. This mismatch apparently also happens when a request contains query parameters.
Maybe it doesn't happen in every use case of connected-next-router, so I'll describe my setup:

I have one Next.js page that catches all routes ([[...slug]].js)
It uses getStaticPaths for a list of default paths to make st

[2020-09-19 12:11] vabatta opened #53 "Option to change action types names"
Would be great to have an option to change the hardcoded type action name such as this one
https://github.com/danielr18/connected-next-router/blob/master/src/actions.ts#L11 .

[2020-09-19 13:49] danielr18 commented on #53
Hey @vabatta, would you be able to create a PR for this?

If the `onLocationChanged` function is modified, you can pass the action name from this line: https://github.com/danielr18/connected-next-router/blob/6445d392dcd34b4d2ae3ee3745264172ef6e2e9e/src/ConnectedRouter.ts#L82

The part that may be complicated are the types.

[2020-10-29 10:48] DZakh commented on #52
It's a problem with unsync of initialState and actual location. So you always have to set a proper initialState, or else it'll redirect you during the next request. In my case it was even a backend request.

[2020-10-29 13:52] DZakh commented on #52
@hacktisch You can try my fork
[code]
And add the `clientSideAutosync` flag to the `ConnectedRouter`.
It's not an ideal solution but it works for me.

[2020-10-29 14:06] DZakh commented on #52
And if you do a redirect inside of useEffect, you need to wrap it in:
[code]
Meh...

[2020-10-29 19:59] DZakh opened #55 "State updates after the first useEffect(() => {}, []) called."
It's very troublesome because you can't normally use values from store.router.location to call some clientSide requests immediately because the value there hasn't updated yet after navigation.
I was able to manage with it using useRouter, but then here's a question why should I use the lib, if I can't even do something like this.

To fix it we can update the store on the `routeChangeStart` event,

[2020-10-29 20:33] danielr18 commented on #55
Hi @DZakh, I agree with your concern, one of the purposes of the library is to have an easy drop-in replacement for connected-react-router when migrating a codebase to Next.js, but this is a problem I've encountered myself for example in `getInitialProps` where the route in the reducer is still the one you are currently in.

I don't think it would be right to set the location in `routeChangeStart`

[2020-10-30 08:10] DZakh commented on #55
Thanks for your honest answer. I'll remove the lib from my project and consider using the next/router instead. But before this, I'm gonna leave a few PRs with code that made the lib work for me to some point.

[2020-10-30 22:49] Guneetgstar commented on #21
Yes redux state doesn't change calling push action from the props

[2020-10-30 23:08] Guneetgstar commented on #21
But it didn't work in case of an error page only -_-

[2020-10-31 21:43] Guneetgstar opened #59 "Feature request: createMatchSelector to replace connected-react-router"
I am migrating from client side rendering to `next.js` for SSR. Although `connected-next-router` is supposed to replace `connected-react-router` (with the basic analogical name) it does not include a very basic functionality to match to opponent. I haven't covered everything thats missing but found that this can be included in the library itself very easily to fast line the migration process.

[2020-10-31 22:04] danielr18 commented on #59
@Guneetgstar I think it's a good idea to add the same selectors `connected-react-router` has, would you be interested in opening a PR?

[2020-10-31 23:55] Guneetgstar commented on #59
@danielr18 Yeah I think I can do it. But currently I am stuck at how to change redux state using `next/link` API. Do you have a workaround?

[2020-11-01 18:34] Guneetgstar commented on #59
Oh, I fixed it, that was a tiny configuration mistake. There was a wrong router reducer set.

[2020-11-04 00:08] Guneetgstar commented on #59
Hi @danielr18 I looked further with the API and found that this repo does not give a porting option for `connected-react-router` users to `next` project as it not only lacks features that I just mentioned above (selector functions) but also doesn't have the same API for the very basic [CallHistoryMethodAction](https://github.com/supasate/connected-react-router/blob/a1053804b1097cda52e14b4e52b5a0ea

[2020-11-04 00:19] danielr18 commented on #59
You are right, it would be good to document those differences in a migration guide. The good this is Next.js 10 has automatic href resolving, so the `as` param wouldn't need to be added while migrating dynamic routes to pages.

[2020-11-04 01:35] Guneetgstar commented on #59
Thanks for the mention about `nextjs`v10 feature I can now the above example works like:
[code]

But I still see that replace function only works with `string` parameters not `Url` or `UrlObject` and I think I should open a new issue for it.

[2020-11-04 12:10] Guneetgstar commented on #59
Hi @danielr18 again, although I really wanted to contribute, this project is maintained in `TypeScript` and I know very less about it and I guess it would be a easy task for you to make a PR for what we have discussed.

[2020-11-04 12:43] Guneetgstar commented on #59
Please check the [PR](https://github.com/danielr18/connected-next-router/pull/60#issue-515359984).

[2020-11-15 03:38] danielr18 commented on #55
@DZakh Thanks for bringing this up. This should be fixed in V4 with the changes in `patchRouter`. There's now a test case that ensures Next Router state and the router state in Redux are equal on page load / navigation.

https://github.com/danielr18/connected-next-router/blob/309f1444e52eff4b044a419a99d2761068608e9b/src/patchRouter.ts#L22

[2020-11-15 03:38] #55 closed

[2020-11-15 03:49] danielr18 commented on #52
@hacktisch This should be fixed in V4. Please reopen this issue if you notice it still happens

[2020-11-15 03:49] #52 closed

[2020-11-15 03:58] danielr18 commented on #25
Closing as Immutable.js is not actively maintained
https://github.com/immutable-js/immutable-js/issues/1689

[2020-11-15 03:58] #25 closed

[2020-11-24 18:31] Prof-isaac commented on #49
Hi @danielr18 I have issue with connected next router It affects all the push that have query params

[2020-11-24 18:34] danielr18 commented on #49
@Prof-isaac can you create a new issue and add more details?

[2020-11-24 19:12] Prof-isaac commented on #49
@danielr18 thanks for your quick response.
after wrapping my app with ConnectedRouter e.g
  <Provider store={store}>
    <ConnectedRouter>
        <Layout>
        <Component {...pageProps} />
        </Layout>
      </ConnectedRouter>
        </Provider>

this router.push from next/router in my project gives me error, but when i remove the ConnectedRouter it will work properly
   router.push({

[2020-11-24 19:23] Prof-isaac opened #62 "my push method from next/router not working properly as expected after wrapping my app with ConnectedRouter"
my app.js

<Provider store={store}>
    <ConnectedRouter>
        <Layout>
        <Component {...pageProps} />
        </Layout>
      </ConnectedRouter>
        </Provider>

push not working properly
   router.push({
      pathname: `home/${productName}/${id}/view`,
      query: { previousLabel }
  })

Error from project

Unhandled Runtime Error
TypeError: url.startsWith is not a function

Sourc

[2020-11-24 21:47] danielr18 commented on #62
Hi @Prof-isaac, I've tried recreating this on the latest version of the library and Next.js 10 and couldn't recreate. Can you create a small reproduction in codesandbox or in one of the library test cases?

[2020-11-26 04:26] Prof-isaac commented on #62
am using "next": "^9.5.5",  "connected-next-router": "^3.1.0",

[2020-11-26 09:42] danielr18 commented on #62
See https://github.com/danielr18/connected-next-router/pull/54.

V3 is not compatible with Next.js 9.5, I would recommend updating to Next.js 10 and v4 of this library.


[2020-11-26 10:23] Prof-isaac commented on #62
@danielr18  just upgrade to v10 and v4 and i get this error

next-dev.js:89 Error was not caught Error: No router instance found.
You should only use "next/router" inside the client side of your app.

I don't think both are backward compatible because if i go back to next 9.5 and connected-next-router v3
all works as before

[2020-11-26 10:26] danielr18 commented on #62
@Prof-isaac Can you share the full stack trace of the error?

[2020-11-26 10:32] Prof-isaac commented on #62
@danielr18
thanks for your quick response i really appreciate.

next-dev.js:89 Error was not caught Error: No router instance found.
You should only use "next/router" inside the client side of your app.

    at getRouter (router.ts:113)
    at Object.get (router.ts:75)
    at middleware.js:20
    at Object.dispatch (index.js:11)
    at Object.dispatch (<anonymous>:1:28545)
    at Module.<anonymous

[2020-11-26 10:39] danielr18 commented on #62
Are you dispatching a navigation action server side?

[2020-11-26 11:26] Prof-isaac commented on #62
@danielr18
you are right i have a navigation action which enable me navigate in my redux middleware.
how do i fix this.

[2020-11-26 11:28] danielr18 commented on #62
You can only use navigation actions or next/router methods client side, so make sure that you don't do it server side.

You could use `if (typeof window !== 'undefined) { // client side only }`

[2020-11-26 12:12] Prof-isaac commented on #62
@danielr18
import { push } from 'connected-next-router'

const navigateTo = ({ dispatch }) => next => action => {
  next(action);
  if (action.type == UI_NAVIGATE) {
    isBrowser() &&  dispatch(push(url));
  }
};
still having the same issue; above is the navigation action.

[2020-11-26 12:16] danielr18 commented on #62
If you can create a small reproduction, I will be able to better help you.

I would say UI_NAVIGATE action isn't needed, you could just dispatch connected-next-router actions where you dispatch those.

[2020-11-27 15:07] Prof-isaac commented on #62
@danielr18
import { createRouterMiddleware, initialRouterState } from 'connected-next-router'
here is my store

const routerMiddleware = createRouterMiddleware();

const parseMiddleware = () => {
  const middleware = [
    thunk,
    routerMiddleware,  // if i comment this line it works fine showing it comming from this part
    ...applicationMiddleware,
  ];

  if (process.env.NODE_ENV === "produ

[2021-03-19 19:31] xaphod opened #67 "[Question] How to get URL parts in a Reducer?"
Hi @danielr18 thanks for making this.

I have a problem where i'm in a reducer, and the current path could be like `/static1/static2/dynamic1/dynamic2`, or it could be `/dynamic1/dynamic2`, and I need to extract & use `dynamic1` and `dynamic2`. I want to find a solution that is agnostic to the values of staticN.

I would have used `useRouter()` and examined the `query`, but i'm in a reducer so I c

[2021-03-19 19:49] danielr18 commented on #67
@xaphod if you are in a reducer, you would only have access to the state of that reducer, not the whole store state.

It seems like you would have to extract  `dynamic1` and `dynamic2` before it gets to the reducer, you would put them in the action data.

[2021-03-19 19:57] xaphod commented on #67
Thanks for the quick reply.
This project isn't using redux/actions to navigate, so i'm not sure where/when we would do that.

[2021-03-19 20:42] danielr18 commented on #67
@xaphod It would have to be done where you dispatch the action. Alternatively, you could handle the `LOCATION_CHANGE` action the library uses in that reducer.

[2021-03-19 20:59] xaphod commented on #67
OK thank you

[2021-03-19 20:59] #67 closed

[2021-05-12 16:51] kylemh opened #72 "react-router migration question"
I've got the following middleware in place: `thunk.withExtraArgument({ history }),`

How do I pass the relevant object into here when using `connected-next-router`?

[2021-05-12 16:56] danielr18 commented on #72
I think you won't need a `history` object if using Next.js router, so you wouldn't need that extra argument.

[2021-05-12 16:59] kylemh commented on #72
There's a single spot in our code base where basically navigate differently if the history stack only has one item vs. many... I'll find a workaround though. I figured this might be the answer and thought the same thing.

[2021-05-12 16:59] #72 closed

[2021-09-13 15:14] koraysels opened #76 "search.replace is not a function"
Replace method is not working .

Expected is for this to work as it does in connected-react-router

[code]

butit throws an error
[code]

[2021-09-13 15:20] danielr18 commented on #76
@koraysels How does the `state.router.location` object look like, can you log it?

[2021-09-14 07:24] koraysels commented on #76
yeah sure.

like this:

[code]

[2021-09-14 08:13] koraysels commented on #76
So after some digging around. I found that if I use query instead of search. it does kinda work but it keeps refreshing the state by triggering @@router/LOCATION_CHANGE which is very annoying .. i do not understand. is something wrong with my middleware perhaps ?

[code]

[2021-12-14 18:46] laggingreflex opened #78 "Doesn't consider basePath?"
Does this not take [basePath](https://nextjs.org/docs/api-reference/next.config.js/basepath) into consideration?

I have  "/frontend" as my `basePath` and I'm seeing this in the logs (using redux-logger):

[code]

Not sure what the expected behaviour should be, but:

* Should this route change even register, since they're basically the same paths?

* Should "/frontend" either be added to, or omitt

[2021-12-14 18:46] laggingreflex opened #79 "Redux-undo?"
Doesn't seem to work with https://github.com/omnidan/redux-undo

[2021-12-16 09:17] laggingreflex commented on #78
I can't reproduce it in the examples given, but it's definitely causing weird artifacts in my app. Like redundantly duplicating basePath "/frontend/frontend/...", and subsequently redirecting to it which obviously results in 404. I can't yet figure out why or where this is happening, or whether its my own app or this library...

But I've found a workaround that seems to avoid the issue of unnecess

[2021-12-16 09:31] danielr18 commented on #78
Hi @laggingreflex, I'm currently sick and can't investigate the issue at the moment. I should be able to next week.

[2022-02-21 13:07] iot-cpars opened #83 "Redux Toolkit"
Hi there, this is less of an issue and more of a request.

Could you maybe make an example of how to use this with redux.toolkit and slices?

I tryed getting it working but am rather new to redux.

Thanks a lot..

[2022-03-10 14:26] polaroidkidd commented on #78
I'm also seeing this behavior, but only when using query parameters.

[2022-05-14 14:00] JoshuaKGoldberg opened #86 "Export a NextRouterState type for TypeScript?"
Hi, I just found this library while converting an app written in TypeScript from CRA+react-router to Next.js. Thank you so much for saving me from having to refactor a bunch! 💖

One small point: there's no good exported type I can find for the `router` part of state. Back in `connected-react-router` land we had `RouterState`. Could this library please export an equivalent?

It looks like https://g

[2022-05-14 14:14] JoshuaKGoldberg opened #87 "Expose a LocationChangeAction type for TypeScript?"
Similar to #86. I'd be happy to send a PR for both/either of these issues.

[TypeScript playground example](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbzgGQPIGECCAVAkqgOQH10AJTAgcQFEAaFCAYwEMZgIA7dAC2Y4HMAppkZtOcAL5wAZlAgg4AIkacOg0YIAmAWjUAPGNrkBXGIKiKA3AFgAUHaA)

[code]

The type is exported from `connected-react-router`: https://github.com/supasate/connected-react-router/blob/c6609e

[2022-05-14 15:15] danielr18 commented on #87
Hey @JoshuaKGoldberg, you can submit the PRs. I’ll review them and publish a new version fairly quick

[2022-05-14 15:45] #86 closed

[2022-05-14 15:45] #87 closed

[2022-05-14 16:03] danielr18 commented on #87
Thanks @JoshuaKGoldberg. Version 4.1.1 is published

[2022-05-14 16:50] JoshuaKGoldberg commented on #87
Amazing, thanks so much for the fast review and release!

[2022-06-14 09:34] crypt0biwan opened #89 "doesn't work with React 18+"
[code]

[2022-06-23 10:52] Nigel-Skeels commented on #83
I would be interested to see an example of this too.

Thank you

[2022-08-05 15:19] kennym opened #92 "Redux Persist"
I'm interested in an example that works with redux-persist. I have trouble getting this to work with it, but I think it's fairly common for one to want to persist the state with `redux-persist`.

[2022-09-07 05:09] borisilic-ap commented on #89
Any updates on this or future plans to get it fixed?

[2022-09-11 22:23] danielr18 commented on #89
Version 4.2.0 has been released

[2022-09-11 22:23] #89 closed

[2022-09-12 00:56] borisilic-ap opened #94 "peer dependency issue with react-redux@8"
Similar issue to https://github.com/danielr18/connected-next-router/issues/89. We are using `react-redux@8.0.2`. It works with `npm install --force` but it would be good to not have to do that.

[code]